<!DOCTYPE html>
<html>

<head>
    <title>Audio Analyzer</title>
</head>

<body>

    <h1>Upload an youtube/soundcloud/spotify link</h1>

    <form method="POST" enctype="multipart/form-data">
        <input type="text" name="user_input">
        <button type="submit">Analyze</button>
    </form>

    {% if error %}
    <p style="color:red;">{{ error }}</p>
    {% endif %}

    {% if results %}
        {% if downloaded_url%}
        <a href="{{ downloaded_url }}">Analyzed Song</a>
        {% endif %}
        {% if genre %}
        <p>Estimated Genre: {{genre}}</p>
        {% endif %}

        <h2>Recommendations</h2>
        <ul>
            {% for row in results %}
                <li>
                    Track: {{ row.track_title }}
                    Artist: {{ row.artist_name }}

                    {% for _ in range(row.hearts.full) %}
                    <img src="/static/full.png" width="30">
                    {% endfor %}

                    {% if row.hearts.half %}
                    <img src="/static/half.png" width="30">
                    {% endif %}

                    {% for _ in range(row.hearts.empty) %}
                    <img src="/static/empty.png" width="30">
                    {% endfor %}

                    (Distance: {{ row.distance }})
                </li>
            {% endfor %}
        </ul>

    {% endif %}

</body>

</html>