<!DOCTYPE html>
<html>

<head>
    <title>Music Genre App</title>
</head>

<body>
    <h1>Enter Youtube/SoundCloud/Spotify URL</h1>
    <p>How it works: uses a youtube downloader library to download and convert youtube videos to mp3 files.</p>
    <p>For soundcloud and spotify: retrieve artist + title, search it on youtube, get the first result and download it</p>
    <p>The mp3 files can then be fed into the features extractor for the model to process</p>
    <p>I need to implement loading screens, but in testing just wait. Check console to see download progress</p>
    <form method="POST">
        <input type="text" name="user_input" required>
        <button type="submit">Submit</button>
    </form>

    {% if result %}
    <h2>Output:</h2>
    <p>{{ result }}</p>
    {% endif %}

    <form action="/" method="POST">
        <input type="hidden" name="track_url" value="{{ result_url }}">
        <h3>Accuracy -> Hearts </h3>
        <p>idea: have the prediction accuracy represented in hearts for style points</p>
        <label for="hearts_slider">Test hearts:</label>
        <input type="number" id="slider" name="accuracy" min="0" max="100" step="1">
        <br>
        <input type="submit" value="Submit">
    </form>



    <div class="hearts">
        {% for _ in range(full) %}
        <img src="/static/full.png" width="30">
        {% endfor %}

        {% if half %}
        <img src="/static/half.png" width="30">
        {% endif %}

        {% for _ in range(empty) %}
        <img src="/static/empty.png" width="30">
        {% endfor %}
    </div>
    {% if accuracy %}
    <p>{{ accuracy }}</p>
    {% endif %}

</body>

</html>